<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CategoriaControlador</servlet-name>
        <servlet-class>controlador.CategoriaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoControlador</servlet-name>
        <servlet-class>controlador.ProductoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaControlador</servlet-name>
        <servlet-class>controlador.VentaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaControlador</servlet-name>
        <url-pattern>/CategoriaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoControlador</servlet-name>
        <url-pattern>/ProductoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaControlador</servlet-name>
        <url-pattern>/VentaControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
